{% extends 'layout.html' %}
{% block nav %}
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Nipsy</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="#">Roles</a></li>
            <li><a href="/tasks/deployments/">Deploy history</a></li>
          </ul>
      </div>
   </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                <div id="settings_div" class="panel panel-primary text-left">
                    <div class="panel-heading text-center">Information</div>
                </div>
            </div>
            {% block main %}
            <div class="col-lg-9 text-center">
                {% if not deployments or deployments.count() == 0 %}
                    <h3 class='alert'>
                        No available deployments.
                    </h3>
                {% else %}
                    <ul class='list-unstyled list-inline'>
                        <li><h1>Last deployments</h1></li>
                    </ul>
                    <hr />
                    <ul id="notifications" class='list-unstyled'>
                    {% for deployment in deployments %}
                        <li>{% include 'task/deployment.html' %}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

